# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [126]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [127]:
#Convert columns names to in lower case
df.columns = df.columns.str.lower()

In [128]:
#Checking if the column names have white spaces 
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [129]:
#Replaing "st" for "state"
df.rename(columns={"st": "state"}, inplace=True)

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [131]:
# To check the arrangements I have to make. 
df["policy type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [132]:
# Arrange inconsistent values in gender column 
df = df.replace(to_replace=["Femal", "female"], value='F')
df = df.replace(to_replace=["Male"], value='M')

# Arrange inconsistent values in state column 
df = df.replace(to_replace=["WA", "AZ","Cali"], value=["Washington","Arizona","California"])

# Arrange inconsistent values in education column 
df = df.replace(to_replace=["Bachelors"], value='Bachelor')

# Delete the % character in Customer Lifetime Value column 
df['customer lifetime value'] = df['customer lifetime value'].str.replace('%', '')

# Arrange inconsistent values in vehicle class column  
df = df.replace(to_replace=["Sports Car", "Luxury SUV", "Luxury Car"], value='Luxury')

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   object
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [134]:
df["number of open complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [135]:
# Customer lifetime value should be numeric
df["customer lifetime value"] = df["customer lifetime value"].astype("float")

In [136]:
# Examine the different values in the column 'Number of open complaints'.
unique_values = df['number of open complaints'].unique()
# Convert column 'Number of open complaints' to the appropriate data type (numeric)
df['number of open complaints'] = df['number of open complaints'].str.split('/').str[1].astype(float)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [137]:
df.isnull()

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,False,False,True,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   state                      1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer lifetime value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly premium auto       1071 non-null   float64
 7   number of open complaints  1071 non-null   float64
 8   policy type                1071 non-null   object
 9   vehicle class              1071 non-null   object
 10  total claim amount         1071 non-null   float64
dtypes: float64(5), object(6)
memory usage: 344.6+ KB

In [139]:
# I decide to fill the numerical columns with a value 0 and catecorials with value "empty" 
#because as I don't have any goal/target I prefer to not discard information even if it is null. 

for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna("empty", inplace=True)
    else:
        df[col].fillna(0, inplace=True)

# Verify that your strategy has successfully handled the null values.
df.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
dtype: int64

In [140]:
# Convert all the numeric variables to integers
numeric_cols = df.select_dtypes(include='number').columns # Give a value to all numeric columns
df[numeric_cols] = df[numeric_cols].astype(int) # Convert to int

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   4008 non-null   object
 1   state                      4008 non-null   object
 2   gender                     4008 non-null   object
 3   education                  4008 non-null   object
 4   customer lifetime value    4008 non-null   int64
 5   income                     4008 non-null   int64
 6   monthly premium auto       4008 non-null   int64
 7   number of open complaints  4008 non-null   int64
 8   policy type                4008 non-null   object
 9   vehicle class              4008 non-null   object
 10  total claim amount         4008 non-null   int64
dtypes: int64(5), object(6)
memory usage: 344.6+ KB

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   4008 non-null   object
 1   state                      4008 non-null   object
 2   gender                     4008 non-null   object
 3   education                  4008 non-null   object
 4   customer lifetime value    4008 non-null   int64
 5   income                     4008 non-null   int64
 6   monthly premium auto       4008 non-null   int64
 7   number of open complaints  4008 non-null   int64
 8   policy type                4008 non-null   object
 9   vehicle class              4008 non-null   object
 10  total claim amount         4008 non-null   int64
dtypes: int64(5), object(6)
memory usage: 344.6+ KB

In [145]:
#Delete duplicates rows
df_drop_duplicates = df.drop_duplicates()
df = df_drop_duplicates.copy() # Save it

In [149]:
# Check for duplicates after cleaning
duplicated_rows_after_cleaning = df.duplicated()
duplicated_rows_after_cleaning

0       False
1       False
2       False
3       False
4       False
        ...
1067    False
1068    False
1069    False
1070    False
1071    False
Length: 1072, dtype: bool

In [150]:
# Save the cleaned DataFrame in a new CSV file
df.to_csv('df.csv', index=False)

- Opción 2: Mantener solo la primera ocurrencia de cada fila duplicada
  
cleaned_df = df.drop_duplicates(keep='first')

- Opción 3: Mantener solo la última ocurrencia de cada fila duplicada
  
#cleaned_df = df.drop_duplicates(keep='last')

- Opción 4: Eliminar duplicados basados en un subconjunto de columnas
  
#cleaned_df = df.drop_duplicates(subset=['columnaname1', 'columnaname2'])

- Opción 5: Eliminar duplicados basados en una columna específica
  
#cleaned_df = df.drop_duplicates(subset=['columna'])

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here